.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    justify-content: space-between;
    &__label{

    };
    &__input{

    };
    &__button{
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: skyblue;
        height: 20px;
        transition: linear 250ms;
        cursor: pointer;
        &:hover {
            background-color: green;
            color: white;
        }
    };
};
